<?xml version="1.0" encoding="UTF-8"?>
<!--  
 Magento Varnish Module
 @author     	Hugues Alary <hugues.alary@gmail.com>
 @copyright  	2012
 @license		GNU General Public License, version 3 (GPL-3.0)
 -->
<config>
    <modules>
       <Betabrand_Varnish>
         <version>1.0</version>
       </Betabrand_Varnish>
    </modules>
    <global>
    	<blocks>
    		<varnish>
    			<class>Betabrand_Varnish_Block</class>
    		</varnish>
			<core>
				<rewrite>
					<messages>Betabrand_Varnish_Block_Core_Messages</messages>
				</rewrite>
			</core>
		</blocks>
        <models>
            <varnish>
              <class>Betabrand_Varnish_Model</class>
              <resourceModel>varnish_resource</resourceModel>
            </varnish>
			<varnish_resource>
				<class>Betabrand_Varnish_Model_Resource</class>
				<entities>
					<esi>
						<table>varnish_esi</table>
					</esi>
				</entities>
			</varnish_resource>
        </models>
		<helpers>
            <varnish>
                <class>Betabrand_Varnish_Helper</class>
            </varnish>
        </helpers>
        <events>
        	<http_response_send_before>
        		<observers>
                    <varnish_http_response_send_before>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>preprareHttpResponse</method>
                    </varnish_http_response_send_before>
                </observers>
        	</http_response_send_before>
            <core_block_abstract_to_html_before>
            	<observers>
                    <varnish_core_block_abstract_to_html_before>
                        <type>model</type>
                        <class>varnish/observer</class>
                        <method>injectEsi</method>
                    </varnish_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <checkout_cart_add_product_complete>
            	<observers>
                    <varnish_checkout_cart_add_product_complete>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>banCustomerCache</method>
                    </varnish_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_save_after>
            	<observers>
                    <varnish_checkout_cart_save_after>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>banCustomerCache</method>
                    </varnish_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <checkout_onepage_controller_success_action>
				<observers>
			        <varnish_checkout_onepage_controller_success_action>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banCustomerCache</method>
			        </varnish_checkout_onepage_controller_success_action>
			    </observers>
			</checkout_onepage_controller_success_action>
			<catalog_product_save_commit_after>
				<observers>
			        <varnish_catalog_product_save_commit_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banProductAfterSave</method>
			        </varnish_catalog_product_save_commit_after>
			    </observers>
			</catalog_product_save_commit_after>
			<catalog_category_save_commit_after>
				<observers>
			        <varnish_catalog_category_save_commit_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banCategoryAfterSave</method>
			        </varnish_catalog_category_save_commit_after>
			    </observers>
			</catalog_category_save_commit_after>
			<clean_media_cache_after>
				<observers>
			        <varnish_clean_media_cache_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banMediaCache</method>
			        </varnish_clean_media_cache_after>
			    </observers>
			</clean_media_cache_after>
			<clean_catalog_images_cache_after>
				<observers>
			        <varnish_clean_catalog_images_cache_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banCatalogImagesCache</method>
			        </varnish_clean_catalog_images_cache_after>
			    </observers>
			</clean_catalog_images_cache_after>
			<cms_page_save_commit_after>
				<observers>
			        <varnish_cms_page_save_commit_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banCmsPageAfterSave</method>
			        </varnish_cms_page_save_commit_after>
			    </observers>
			</cms_page_save_commit_after>
			<controller_action_layout_generate_blocks_after>
				<observers>
			        <varnish_controller_action_layout_generate_blocks_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>checkHandleCachingCondition</method>
			        </varnish_controller_action_layout_generate_blocks_after>
			    </observers>
			</controller_action_layout_generate_blocks_after>
			<adminhtml_cache_flush_all>
				<observers>
			        <varnish_adminhtml_cache_flush_all>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banAllCache</method>
			        </varnish_adminhtml_cache_flush_all>
			    </observers>
			</adminhtml_cache_flush_all>
			<adminhtml_cache_refresh_type>
				<observers>
			        <varnish_adminhtml_cache_refresh_type>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banAllCache</method>
			        </varnish_adminhtml_cache_refresh_type>
			    </observers>
			</adminhtml_cache_refresh_type>
			<controller_action_postdispatch_checkout_cart_couponpost>
				<observers>
                    <varnish_controller_action_postdispatch_checkout_cart_couponpost>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>banCustomerCache</method>
                    </varnish_controller_action_postdispatch_checkout_cart_couponpost>
                </observers>
			</controller_action_postdispatch_checkout_cart_couponpost>
			<core_session_abstract_add_message>
				<observers>
                    <varnish_core_session_abstract_add_message>
                        <type>singleton</type>
                        <class>varnish/observer</class>
                        <method>banCustomerMessagesCache</method>
                    </varnish_core_session_abstract_add_message>
                </observers>
			</core_session_abstract_add_message>
			<sales_quote_save_after>
				<observers>
			        <varnish_sales_quote_save_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banCustomerCache</method>
			        </varnish_sales_quote_save_after>
			    </observers>
			</sales_quote_save_after>
			<adminhtml_widget_container_html_before>
				<observers>
			        <varnish_adminhtml_widget_container_html_before>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>addFlushButton</method>
			        </varnish_adminhtml_widget_container_html_before>
			    </observers>
			</adminhtml_widget_container_html_before>
			<cataloginventory_stock_item_save_after>
				<observers>
			        <varnish_cataloginventory_stock_item_save_after>
			            <type>singleton</type>
			            <class>varnish/observer</class>
			            <method>banProductPageOutOfStock</method>
			        </varnish_cataloginventory_stock_item_save_after>
			    </observers>
			 </cataloginventory_stock_item_save_after>
        </events>
        <cache>
        	<types>
        		<varnish>
        			<label>Varnish</label>
                    <description>Varnish Cache (!!!!!! EXTREMELY IMPORTANT !!!!!! When DISABLING the varnish cache, make a REFRESH TOO !)</description>
                    <tags>VARNISH</tags>
        		</varnish>
        	</types>
        </cache>
        <resources>
			<varnish_setup>
                <setup>
                	<module>Betabrand_Varnish</module>
                    <class>Betabrand_Varnish_Model_Setup</class>
                </setup>
			</varnish_setup>
		</resources>
    </global>
    <frontend>
       <routers>
           <varnish>
               <use>standard</use>
               <args>
                   <module>Betabrand_Varnish</module>
                   <frontName>varnish</frontName>
               </args>
           </varnish>
       </routers>
       <layout>
			<updates>
				<varnish>
					<file>varnish.xml</file>
				</varnish>
			</updates>
		</layout>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<varnish>
					<file>varnish.xml</file>
				</varnish>
			</updates>
		</layout>
    </adminhtml>
    <default>
		<varnish>
			<varnish>
				<active>0</active>
			</varnish>
            <redis>
                <host>localhost</host>
                <port>6379</port>
                <database>15</database>
            </redis>
            <cache>
                <global_default_expiry>3d</global_default_expiry>
                <per_page_default_expiry>3d</per_page_default_expiry>
                <per_client_default_expiry>10m</per_client_default_expiry>
            </cache>
		</varnish>
    </default>
</config>